
<div class="container containerForm bg-white">
    
<div class="contact-form">
<p>
Thanks for your visit to my profile, for any enquire please reach out to me to <a href="mailto:af17317596@gmail.com" target="_blank">af17317596@gmail.com</a>
</p>
<p>
    Here is my Linked in as well https://www.linkedin.com/in/scott-wagner-ab9035aa/
</p>
</div>
</div>

