<div class="contact-form">
<p>
Thanks for your visit to my profile, for any enquire please reach out to me to <a href="mailto:af17317596@gmail.com" target="_blank">af17317596@gmail.com</a>
</p>
</div>