<div class="container main-landing-page shadow ">
  <div class="row">
    <div class="col-6">
      <h1>
        Scott Wagner
      </h1>
      <h6 class="mb-4">
        Web Developer based in Dallas, TX. Experienced in designing & developing Full-Stack JS Apps
      </h6>
      <ul>
        <li>Front-end (HTML/CSS/JS)</li>
        <li>Node Enviroments (Express, Mongo, React)</li>
        <li>Tester debugger</li>
      </ul>
    </div>
    <div class="col-6">
     <img src="/assets/images/scottW.png" class="d-block" alt="Me">
    </div>
  </div>
</div>

