<div class="container profileContainer">
    <div class="row">
        <div class="col-3 img-wrap mb-4">
          <a href="http://desolate-stream-29104.herokuapp.com/" target="_blank">
            <div class="img-wrap">
              <img src="assets/images/modemsOperandi.png" class="img-fluid w-100" alt="#">
              <div class="img-caption">
                <h3 class="pt-3">
                  modemsOperandi
                </h3>
              </div>
            </div>
          </a>
        </div>
        <div class="col-3 img-wrap mb-4">
          <a href="https://keep-going-app.herokuapp.com/" target="_blank">
            <div class="img-wrap">
              <img src="assets/images/keepgoing.png" class="img-fluid w-100" alt="#">
              <div class="img-caption">
                <h3 class="pt-3">
                  KeepGoing
                </h3>
              </div>
            </div>
          </a>
        </div>
       <div class="col-3 img-wrap mb-4">
          <a href="http://desolate-stream-29104.herokuapp.com/" target="_blank">
            <div class="img-wrap">
              <img src="assets/images/modemsOperandi.png" class="img-fluid w-100" alt="#">
              <div class="img-caption">
                <h3 class="pt-3">
                  modemsOperandi
                </h3>
              </div>
            </div>
          </a>
        </div>
   <div class="col-3 img-wrap mb-4">
          <a href="http://desolate-stream-29104.herokuapp.com/" target="_blank">
            <div class="img-wrap">
              <img src="assets/images/modemsOperandi.png" class="img-fluid w-100" alt="#">
              <div class="img-caption">
                <h3 class="pt-3">
                  modemsOperandi
                </h3>
              </div>
            </div>
          </a>
        </div>

    </div>
    <div class="row">

 <div class="col-3 img-wrap mb-4">
          <a href="http://desolate-stream-29104.herokuapp.com/" target="_blank">
            <div class="img-wrap">
              <img src="assets/images/modemsOperandi.png" class="img-fluid w-100" alt="#">
              <div class="img-caption">
                <h3 class="pt-3">
                  modemsOperandi
                </h3>
              </div>
            </div>
          </a>
        </div>
        <div class="col-3 img-wrap mb-4">
          <a href="" target="_blank">
            <div class="img-wrap">
              <img src="assets/images/keepgoing.png" class="img-fluid w-100" alt="#">
              <div class="img-caption">
                <h3 class="pt-3">
                  modemsOperandi
                </h3>
              </div>
            </div>
          </a>
        </div>
       <div class="col-3 img-wrap mb-4">
          <a href="http://desolate-stream-29104.herokuapp.com/" target="_blank">
            <div class="img-wrap">
              <img src="assets/images/modemsOperandi.png" class="img-fluid w-100" alt="#">
              <div class="img-caption">
                <h3 class="pt-3">
                  modemsOperandi
                </h3>
              </div>
            </div>
          </a>
        </div>
   <div class="col-3 img-wrap mb-4">
          <a href="http://desolate-stream-29104.herokuapp.com/" target="_blank">
            <div class="img-wrap">
              <img src="assets/images/modemsOperandi.png" class="img-fluid w-100" alt="#">
              <div class="img-caption">
                <h3 class="pt-3">
                  modemsOperandi
                </h3>
              </div>
            </div>
          </a>
        </div>
        
    </div>

    </div>




{{!-- <div>projects page</div>

<div>
    <p>
        link to my github and some deployed heroku apps
    </p>
<p>http://desolate-stream-29104.herokuapp.com/</p>
<p>https://keep-going-app.herokuapp.com/</p>

</div> --}}